<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.mapper.PostMapper">
	<select id="getPostList" resultType="com.example.board.domain.PostVO">
		select * from post order by post_date desc
	</select>
	
	<select id="getPostPage" resultType="com.example.board.domain.PostVO">
		select * from post where post_code = #{post_code}
	</select>
	
	<insert id="insertPost" parameterType="com.example.board.domain.PostVO">
		insert into post values(POST_SEQ.nextval, #{post_title},#{post_content}, sysdate, #{id}, #{board_code})
	</insert>
	
	<update id="updatePost" parameterType="com.example.board.domain.PostVO">
		update post set post_title = #{post_title}, post_content = #{post_content}, post_date = sysdate, board_code = #{board_code}
		where post_code = #{post_code}
	</update>
	
	<delete id="deletePost" parameterType="int">
		delete from post where post_code = #{post_code}
	</delete>
</mapper>